*/*{
    margin: 0;
}*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit; 
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px ;
    line-height: 24px;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto ;
}
.page-header-container {
    margin-bottom: 100px;
}
.page-nav {
    padding: 38px 0;
    padding-bottom: 100px;
}
/*site navigation */
.site-navigation {
    text-align: center;
    vertical-align: middle;
    margin: 0 ;
    padding: 0 ;
    font-size: 14px;
    list-style: none ;
}
.site-navigation li {
    display: inline-block ;
    margin-right: 100px;
}
.site-navigation li:last-child{
    margin-right: 0;
}

.site-navigation a {
    color: #626262 ;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase ;
    text-decoration: none ;
    line-height: 24px ;
}
.site-navigation a:focus {
    color: #03a9f4 ;
}
/*news-list block */
.news-list {
   list-style: none;
   margin: 0;
   padding: 0;
}
.news-list-item {
    display: inline-block;
    width: 420px;
    margin-right: 30px;
}
.news-list-item:nth-child(2n){
    margin-right: 0;
}
.news-list-image {
    width: 420px;
    height:280px;
}

.news-block-title {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    opacity: 2;
}   
.news-block-name {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    opacity: 5 ;
}
.news-block-about {
    font-size: 14px;
}
.news-list-item h2 {
    font-size: 30px;
    line-height: 36px;
}
/*button*/
.buttonload {
    margin: 0;
    padding: 0;
    text-align: center;
}
.load-more-button{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    border:none;
    margin: 0;
    padding: 8px 34px;
    width: 164px;
    height:60px;
    cursor: pointer;
}