@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .banner {
    background-size: cover;
    
    min-width: 320px;
  }
  .signup-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 120px;
  }
  .site-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 26px;
  }
  .banner-info {
    padding-bottom: 138px;
  }
  .main-title {
    font-size: 30px;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .info-title {
    font-size: 18px;
    line-height: 22px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-title {
    margin-top: 65px;
    margin-bottom: 20px;
    padding-left:29px;
    padding-right: 29px;
  }
  .team-list {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer {
    margin-bottom: 58px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
  }
  .memberone {
    order: 0;
  }
  .membertwo {
    order: 1;
  }
  .memberthree {
    order: 0;
  }
  .memberfour {
    order: 1;
  }
}

@media (min-width: 768px)  and (max-width: 1439px)   {
  .container {
    width: 492px;
  }
  .banner {
    background-image: url(../img/banner-object.jpg);
    background-size: cover;
  }
  .page-header {
       width: 660px; 
       margin: 0 auto;
      /* margin-left: 54px;
      margin-right: 54px;
      */
  }
  .page-nav {
    display: flex;
    min-height: 65px;
    padding-top: 50px;
    align-items: baseline;
      justify-content: space-between;  
    flex-direction: row-reverse;
    
   
    text-align: center;
  }
  .site-logo {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    justify-content: flex-start;
  }
  .signup-form {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between; 
   /*  margin-right: 0; */
    
  }
  .banner {
    background-size: cover;
  }

  .main-title {
    font-size: 52px;
     line-height: 62px; 
    margin-top: 160px;
    /* margin-left: 84px;
    margin-right: 84px; */
    margin-bottom: 40px;
  }
  .info-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 34px;
  }
  .banner-info {
    padding-bottom: 234px;
  }
  .section-title {
      margin-top: 72px;
      padding-bottom: 30px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 84px;
    margin-right: 84px; */
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .team-list-item {
    width: 220px;
    position: relative;
     /* margin-bottom: 40px;  */
  }
  .button-footer {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 942px;
  }
  .banner {
    background-size: cover;
    background-image: url(../img/banner-object.jpg); 
   
  }
  .page-header {
    max-width: 940px; 
    margin-bottom: 140px;
    margin: 0 auto;
  }
  .page-nav {
    display: flex;
    min-height: 65px;
    padding-top: 46px;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;  
    align-items: baseline;
    
  }
  .site-logo {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    justify-content: flex-start;
  }
  .signup-form {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
  }
  .main-title {
   
    margin: 0 auto;
    padding-left: 210px;
    padding-right: 210px;
    margin-top: 140px;
    font-size: 52px;
    line-height: 62px;
  }
  .info-title {
    font-size: 24px;
    line-height: 29px;
  }
  .banner-info {
    padding-bottom: 234px;
  }

  .team {
    padding-top: 70px;
  }

  .section-title {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 32px;
  }
  .team-list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
  }

  .team-list-item {
    width: 220px;
    position: relative;
    /*  margin-bottom: 40px; */
  }
  .button-footer {
    margin-bottom: 73px;
  }
}
