.team {
  margin-bottom: 84px;
}

.team__title {
  font-family: $additionally-font-stack;
  font-size: 24px;
  color: $primary-title-color;
  @extend %text-center;
}

.team__info {
  font-family: $secondary-font-stack;
  font-weight: bold;
  font-size: 30px;
  color: $primary-title-color;
  
  text-transform: uppercase;
  @extend %text-center;

  &::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: $hover-main-color;
    content: '';
    margin: 0 auto;
    margin-top: 42px;
  }
}

/* .team__info */
.team__about {
  text-align: center;
}

.team__item-name {
  font-family: $secondary-font-stack;
  font-size: 14px;
  line-height: 17px;
  @extend %text-center;
  text-transform: uppercase;
  color: $primary-title-color;
}

.team__item-occupation {
  font-family: $main-font-stack;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  @extend %text-center;
}
