@mixin pseudo($display: block, $content: '') {
  display: $display;
  content: $content;
}

@mixin generate-pseudo-icons($baseclass, $list, $path, $ext) {
  @each $icon in $list {
    .#{$baseclass}#{$icon}::before {
      background-image: url(#{$path}#{$icon}.#{$ext});

      @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(#{$path}#{$icon}@2px.#{$ext});
      }
    }
  }
}

@mixin bg-image($repeat: no-repeat, $pos: center) {
  background-repeat: $repeat;
  background-position: $pos;
}

@mixin flex-set($display: flex, $justify-content: space-between) {
  display: $display;
  justify-content: $justify-content;
}
