%link {
  text-decoration: none;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%button {
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
}

%container {
  width: 1200px;
  margin: 0 auto; }

%background__image {
  background-repeat: no-repeat;
  background-position: center;
}

%text-center {
  text-align: center;
}