$main-font-stack: "Roboto", sans-serif;
$secondary-font-stack: "Montserrat", sans-serif;
$additionally-font-stack : 'Kaushan Script', cursive;
$primary-link-color : #f9e0e0;
$primary-title-color : black;
$hover-main-color: #f38181;
$card-overlay-color: #fce38a;
$button-border-color:  #e5e5e5;
$button-background-color:  #95e1d3;